.card {
  border: 5px solid gray;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.cardBody {
  flex: 1 1 auto;
}
.cardHeader {
  background-color: #e9e6e6;
  padding: 10px;
}
.cardFooter {
  background-color: #e9e6e6;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
